@import 'bootstrap/scss/bootstrap'
@import 'bootstrap-icons/font/bootstrap-icons.css'

@import './views/common/common'
@import './views/common/alert/alert'
@import './views/center/center'
@import './views/home/home'
@import './views/about/about'
@import './views/login/login'
@import './views/settings/settings'
@import './views/timeline-common/timeline-common'
@import './views/timeline/timeline'
@import './views/user/user'
@import './views/search/search'

@import './views/admin/admin'

:root
  --primary-color: #007bff
  --text-on-primary-color: #ffffff

small
  line-height: 1.2

.flex-fix-length
  flex-grow: 0
  flex-shrink: 0

.position-lt
  left: 0
  top: 0

.avatar
  width: 60px
  height: 60px
  &.large
    width: 100px
    height: 100px
  &.small
    width: 40px
    height: 40px

.icon-button
  font-size: 1.4rem
  cursor: pointer
  &.large
    font-size: 1.6rem

.flat-button
  cursor: pointer
  padding: 0.2em 0.5em
  border-radius: 0.2em
  &:hover:not(.disabled)
    background-color: $gray-200
  &.disabled
    cursor: default
  @each $color, $value in $theme-colors
    &.#{$color}
      color: $value
      &.disabled
        color: adjust-color($value, $lightness: +15%)

.cursor-pointer
  cursor: pointer

textarea
  resize: none

.white-space-no-wrap
  white-space: nowrap

.cru-card
  @extend .shadow
  @extend .rounded
  border: 1px solid
  border-color: $gray-200
  background: $gray-100
  transition: all 0.3s
  &:hover
    border-color: var(--primary)

.full-viewport-center-child
  position: fixed
  width: 100vw
  height: 100vh
  display: flex
  justify-content: center
  align-items: center

.text-orange
  color: $orange

.text-yellow
  color: $yellow

.text-button
  background: transparent
  border: none
  @each $color, $value in $theme-colors
    &.#{$color}
      color: $value
      &:hover
        color: adjust-color($value, $lightness: +15%)

.touch-action-none
  touch-action: none

i
  line-height: 1

.markdown-container
  img
    max-height: 200px
    max-width: 100%
