.git
Timeline/ClientApp/.git

ErrorResponseCodeGenerator/bin
ErrorResponseCodeGenerator/obj
Timeline/bin
Timeline/obj
Timeline.ErrorCodes/bin
Timeline.ErrorCodes/obj
Timeline.Tests/bin
Timeline.Tests/obj
Timeline/publish

Timeline/ClientApp/dist
Timeline/ClientApp/node_modules
Timeline/ClientApp/.yarn/*
!Timeline/ClientApp/.yarn/releases
!Timeline/ClientApp/.yarn/plugins
!Timeline/ClientApp/.yarn/cache
!Timeline/ClientApp/.yarn/sdks
!Timeline/ClientApp/.yarn/versions
