.git

art-src

BackEnd/.vs
BackEnd/Timeline/bin
BackEnd/Timeline/obj
BackEnd/Timeline.ErrorCodes/bin
BackEnd/Timeline.ErrorCodes/obj
BackEnd/Timeline.ErrorCodes.CodeGenerator/bin
BackEnd/Timeline.ErrorCodes.CodeGenerator/obj
BackEnd/Timeline.Tests/bin
BackEnd/Timeline.Tests/obj
BackEnd/Timeline/publish

FrontEnd/dist
FrontEnd/node_modules
FrontEnd/.yarn/*
!FrontEnd/.yarn/releases
!FrontEnd/.yarn/plugins
!FrontEnd/.yarn/cache
!FrontEnd/.yarn/sdks
!FrontEnd/.yarn/versions
