.cru-skeleton {
  padding: 0 1em;
}

.cru-skeleton-line {
  height: 1em;
  background-color: hsl(0 0% 90%);
  margin: 0.7em 0;
  border-radius: 0.2em;
}

@media (prefers-color-scheme: dark) {
  .cru-skeleton-line {
    background-color: hsl(0 0% 20%);
  }
}

.cru-skeleton-line:last-child {
  width: 50%;
}
