<mat-card class="mat-elevation-z2 item-card">
  <span class="item-color-block" [class.color-block-closed]="item.closed" [class.color-block-open]="!item.closed"></span>
  <!-- Do not move the margin style to class because there is some preset classes on mat-card children making it invalid. -->
  <div class="mat-h3 item-body-box" style="margin: 5px;">
    <img class="item-icon" [src]="item.iconUrl" />
    <span class="item-title">{{ item.id }}. {{ item.title }}</span>
    <a mat-icon-button class="item-detail-button" [href]="item.detailUrl">
      <mat-icon>arrow_forward</mat-icon>
    </a>
  </div>
</mat-card>
