.item-card {
  padding: 0;
  display: flex;
  overflow: hidden;
}

.item-color-block {
  width: 15px;
  align-self: stretch;
  flex: 0 0 auto;
}

.item-icon {
  width: 1.2em;
  height: 1.2em;
  vertical-align: -0.25em;
}

.item-title {
  vertical-align: middle;
}

.item-detail-button {
  width: unset;
  height: unset;
  line-height: unset;
}
