.item-card {
  padding: 0;
  display: flex;
  overflow: hidden;
}

.item-body-box {
  margin: 5px!important
}

.item-color-block {
  width: 15px;
  align-self: stretch;
  flex: 0 0 auto;
}

.item-title {
  vertical-align: middle;
}

.item-detail-button {
  width: unset;
  height: unset;
  line-height: unset;
}
