.change-avatar-dialog-prompt {
  margin: 0.5em 0;
}

.change-avatar-dialog-prompt.success {
  color: var(--cru-create-color);
}

.change-avatar-dialog-prompt.error {
  color: var(--cru-danger-color);
}

.change-avatar-cropper {
  max-width: 400px;
  max-height: 400px;
}

.change-avatar-preview-image {
  min-width: 50%;
  max-width: 100%;
  max-height: 300px;
}