/* TODO: Make item prettier. */

.change-avatar-cropper-row {
  max-height: 400px;
}

.change-avatar-img {
  min-width: 50%;
  max-width: 100%;
  max-height: 400px;
}

.setting-section {
  padding: 1em 0;
  margin: 1em 0;
}

.setting-section-title {
  padding: 0 1em;
}

.setting-section-item-area {
  margin-top: 1em;
  border-top: 1px solid var(--cru-key-container-color);
}

.setting-item-container {
  padding: 0.5em 1em;
  transition: background-color 0.3s;
  color: var(--cru-surface-on-color);
  background-color: var(--cru-surface-color);
  border-bottom: 1px solid var(--cru-key-container-color);
  display: flex;
  align-items: center;
}

.setting-item-container:hover {
  background-color: var(--cru-key-container-1-color);
  border-bottom-color: var(--cru-key-container-1-color);
}

.setting-item-label-sub {
  color: var(--cru-secondary-text-color);
}

.setting-item-container.setting-type-button {
  cursor: pointer;
}

.setting-item-container.setting-type-button.danger {
  color: var(--cru-danger-color);
}


@media (max-width: 576) {
  .setting-item-container.setting-type-select {
    flex-direction: column;
  }

  .setting-item-container.setting-type-select .setting-item-value-area {
    margin-top: 1em;
  }
}

.register-code {
  border: 1px solid black;
  border-radius: 3px;
  padding: 0.2em;
}