.timeline-markdown-post-edit-page {
  overflow: auto;
  max-height: 300px;
}

.timeline-markdown-post-edit-image-container {
  position: relative;
  text-align: center;
  margin-bottom: 1em;
}

.timeline-markdown-post-edit-image {
  max-width: 100%;
  max-height: 200px;
}

.timeline-markdown-post-edit-image-delete-button {
  position: absolute;
  right: 10px;
  top: 2px;
}
