.home-v2-timeline-list-item
  display: flex
  align-items: center

.home-v2-timeline-list-item-timeline
  transition: background 0.8s
  animation: 0.8s home-v2-timeline-list-item-timeline-enter
  &:hover
    background: $gray-200

@keyframes home-v2-timeline-list-item-timeline-enter
  from
    transform: translate(-100%,0)
    opacity: 0

.home-v2-timeline-list-item-line
  width: 80px
  flex-shrink: 0

@keyframes home-v2-timeline-list-loading-head-animation
  from
    transform: translate(0,-30px)
    opacity: 1

  to
    opacity: 0

.home-v2-timeline-list-loading-head
  animation: 1s infinite home-v2-timeline-list-loading-head-animation
