.cru-full-page {
  position: fixed;
  z-index: 1030;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  padding-top: 56px;
}

.cru-full-page-top-bar {
  height: 56px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background-color: var(--cru-primary-color);
  display: flex;
  align-items: center;
}

.cru-full-page-content-container {
  overflow: scroll;
}

.cru-full-page-back-button {
  color: var(--cru-primary-t-color);
}

.cru-full-page-enter {
  transform: translate(100%, 0);
}

.cru-full-page-enter-active {
  transform: none;
  transition: transform 0.3s;
}

.cru-full-page-exit-active {
  transition: transform 0.3s;
  transform: translate(100%, 0);
}

.cru-full-page-exit-done {
  display: none;
}
