<body>
  <mat-toolbar color="primary" class="mat-elevation-z4">
    <a mat-button routerLink="/">
      <img width="30" height="30" src="assets/icon.svg"> Timeline</a>
    <a mat-button routerLink="/todo">TodoList</a>
    <span class="fill-remaining-space"></span>
    <button mat-icon-button>
      <mat-icon>account_circle</mat-icon>
    </button>
  </mat-toolbar>

  <div>
    <router-outlet></router-outlet>
  </div>

  <footer>
    <span class="fill-remaining-space"></span>
    <a class="icp-record" href="http://www.miitbeian.gov.cn/state/outPortal/loginPortal.action" target=”_blank”>鄂ICP备18030913号-1</a>
  </footer>
</body>
