.cru-input-panel-group {
  display: block;
  margin: 0.4em 0;
}

.cru-input-panel-label {
  display: block;
  color: var(--cru-primary-color);
}

.cru-input-panel-inline-label {
  margin-inline-start: 0.5em;
}

.cru-input-panel-error-text {
  display: block;
  font-size: 0.8em;
  color: var(--cru-danger-color);
}

.cru-input-panel-helper-text {
  display: block;
  font-size: 0.8em;
  color: var(--cru-primary-color);
}
