.cru-flat-button {
  font-size: 1rem;
  padding: 0.4em 0.8em;
  transition: all 0.5s;
  border-radius: 0.2em;
  background-color: var(--cru-clickable-grayscale-normal-color);
  border: 1px none;
  color: var(--cru-clickable-normal-color);
  cursor: pointer;
}

.cru-flat-button:hover {
  background-color: var(--cru-clickable-grayscale-hover-color);
}

.cru-flat-button:focus {
  background-color: var(--cru-clickable-grayscale-focus-color);
}

.cru-flat-button:active {
  background-color: var(--cru-clickable-grayscale-active-color);
}

.cru-flat-button:disabled {
  color: var(--cru-clickable-disabled-color);
  cursor: auto;
}