form {
  display: flex;
  flex-wrap: wrap;
}

div.w-100 {
  width: 100%;
}

.login-button {
  margin-left: auto;
}

.no-login-message {
  color: blue;
}

.invalid-login-message {
  color: red;
}

.error-message {
  color: red;
}
