.timeline-post-date-badge {
  display: inline-block;
  padding: 0.2em 0.5em;
  border-radius: 0.4em;
  background: var(--timeline-datetime-label-background-color);
  color: white;
  font-size: 0.8em;
  margin-left: 5em;
}
