.timeline-card {
  position: fixed;
  z-index: 1029;
  top: 56px;
  right: 0;
  margin: 0.5em;
}

.timeline-card-title {
  display: inline-block;
  vertical-align: middle;
  color: var(--cru-key-on-color);
}

.timeline-card-title-name {
  margin-inline-start: 1em;
  color: var(--cru-surface-on-color);
}