.timeline-post-card {
  padding: 1em 1em 1em 3em;
  background-color: var(--cru-background-color);
  box-shadow: var(--timeline-post-card-shadow);
  border-radius: var(--timeline-post-card-border-radius);
  position: relative;
  z-index: 1;
}