@import "bootstrap/dist/css/bootstrap-reboot.css";
@import "bootstrap/dist/css/bootstrap-grid.css";
@import "bootstrap-icons/font/bootstrap-icons.css";

:root {
  --tl-background-color: #f8f9fa;

  --tl-primary-color: rgb(0, 123, 255);
  --tl-primary-l1-color: rgb(26, 136, 255);
  --tl-primary-l2-color: rgb(51, 149, 255);
  --tl-primary-l3-color: rgb(77, 163, 255);
  --tl-primary-d1-color: rgb(0, 111, 230);
  --tl-primary-d2-color: rgb(0, 98, 204);
  --tl-primary-d3-color: rgb(0, 86, 179);
  --tl-primary-f1-color: rgb(0, 111, 230);
  --tl-primary-f2-color: rgb(0, 98, 204);
  --tl-primary-f3-color: rgb(0, 86, 179);
  --tl-primary-r1-color: rgb(26, 136, 255);
  --tl-primary-r2-color: rgb(51, 149, 255);
  --tl-primary-r3-color: rgb(77, 163, 255);
  --tl-primary-enhance-color: rgb(77, 163, 255);
  --tl-primary-enhance-l1-color: rgb(94, 172, 255);
  --tl-primary-enhance-l2-color: rgb(112, 181, 255);
  --tl-primary-enhance-l3-color: rgb(130, 190, 255);
  --tl-primary-enhance-d1-color: rgb(43, 145, 255);
  --tl-primary-enhance-d2-color: rgb(10, 128, 255);
  --tl-primary-enhance-d3-color: rgb(0, 112, 232);
  --tl-primary-enhance-f1-color: rgb(94, 172, 255);
  --tl-primary-enhance-f2-color: rgb(112, 181, 255);
  --tl-primary-enhance-f3-color: rgb(130, 190, 255);
  --tl-primary-enhance-r1-color: rgb(43, 145, 255);
  --tl-primary-enhance-r2-color: rgb(10, 128, 255);
  --tl-primary-enhance-r3-color: rgb(0, 112, 232);
  --tl-secondary-color: rgb(255, 0, 250);
  --tl-secondary-l1-color: rgb(255, 26, 251);
  --tl-secondary-l2-color: rgb(255, 51, 251);
  --tl-secondary-l3-color: rgb(255, 77, 252);
  --tl-secondary-d1-color: rgb(230, 0, 225);
  --tl-secondary-d2-color: rgb(204, 0, 200);
  --tl-secondary-d3-color: rgb(179, 0, 175);
  --tl-secondary-f1-color: rgb(230, 0, 225);
  --tl-secondary-f2-color: rgb(204, 0, 200);
  --tl-secondary-f3-color: rgb(179, 0, 175);
  --tl-secondary-r1-color: rgb(255, 26, 251);
  --tl-secondary-r2-color: rgb(255, 51, 251);
  --tl-secondary-r3-color: rgb(255, 77, 252);
  --tl-text-primary-color: rgb(17, 17, 17);
  --tl-text-primary-l1-color: rgb(41, 41, 41);
  --tl-text-primary-l2-color: rgb(65, 65, 65);
  --tl-text-primary-l3-color: rgb(88, 88, 88);
  --tl-text-primary-d1-color: rgb(15, 15, 15);
  --tl-text-primary-d2-color: rgb(14, 14, 14);
  --tl-text-primary-d3-color: rgb(12, 12, 12);
  --tl-text-primary-f1-color: rgb(15, 15, 15);
  --tl-text-primary-f2-color: rgb(14, 14, 14);
  --tl-text-primary-f3-color: rgb(12, 12, 12);
  --tl-text-primary-r1-color: rgb(41, 41, 41);
  --tl-text-primary-r2-color: rgb(65, 65, 65);
  --tl-text-primary-r3-color: rgb(88, 88, 88);
  --tl-text-on-primary-color: rgb(255, 255, 255);
  --tl-text-on-primary-l1-color: rgb(255, 255, 255);
  --tl-text-on-primary-l2-color: rgb(255, 255, 255);
  --tl-text-on-primary-l3-color: rgb(255, 255, 255);
  --tl-text-on-primary-d1-color: rgb(230, 230, 230);
  --tl-text-on-primary-d2-color: rgb(204, 204, 204);
  --tl-text-on-primary-d3-color: rgb(179, 179, 179);
  --tl-text-on-primary-f1-color: rgb(255, 255, 255);
  --tl-text-on-primary-f2-color: rgb(255, 255, 255);
  --tl-text-on-primary-f3-color: rgb(255, 255, 255);
  --tl-text-on-primary-r1-color: rgb(230, 230, 230);
  --tl-text-on-primary-r2-color: rgb(204, 204, 204);
  --tl-text-on-primary-r3-color: rgb(179, 179, 179);
  --tl-danger-color: rgb(255, 0, 0);
  --tl-danger-l1-color: rgb(255, 26, 26);
  --tl-danger-l2-color: rgb(255, 51, 51);
  --tl-danger-l3-color: rgb(255, 77, 77);
  --tl-danger-d1-color: rgb(230, 0, 0);
  --tl-danger-d2-color: rgb(204, 0, 0);
  --tl-danger-d3-color: rgb(179, 0, 0);
  --tl-danger-f1-color: rgb(230, 0, 0);
  --tl-danger-f2-color: rgb(204, 0, 0);
  --tl-danger-f3-color: rgb(179, 0, 0);
  --tl-danger-r1-color: rgb(255, 26, 26);
  --tl-danger-r2-color: rgb(255, 51, 51);
  --tl-danger-r3-color: rgb(255, 77, 77);
  --tl-success-color: rgb(0, 128, 0);
  --tl-success-l1-color: rgb(0, 166, 0);
  --tl-success-l2-color: rgb(0, 204, 0);
  --tl-success-l3-color: rgb(0, 243, 0);
  --tl-success-d1-color: rgb(0, 115, 0);
  --tl-success-d2-color: rgb(0, 102, 0);
  --tl-success-d3-color: rgb(0, 90, 0);
  --tl-success-f1-color: rgb(0, 115, 0);
  --tl-success-f2-color: rgb(0, 102, 0);
  --tl-success-f3-color: rgb(0, 90, 0);
  --tl-success-r1-color: rgb(0, 166, 0);
  --tl-success-r2-color: rgb(0, 204, 0);
  --tl-success-r3-color: rgb(0, 243, 0);
}

body {
  background: var(--tl-background-color);
}

.tl-color-primary {
  color: var(--tl-primary-color);
}

.tl-color-danger {
  color: var(--tl-danger-color);
}

small {
  line-height: 1.2;
}

.flex-fix-length {
  flex-grow: 0;
  flex-shrink: 0;
}

.avatar {
  width: 60px;
  height: 60px;
}

.avatar.large {
  width: 100px;
  height: 100px;
}

.avatar.small {
  width: 40px;
  height: 40px;
}

.icon-button {
  font-size: 1.4rem;
  cursor: pointer;
}

.icon-button.large {
  font-size: 1.6rem;
}

.icon-button.primary-enhance {
  color: var(--tl-primary-enhance-color);
}

.cursor-pointer {
  cursor: pointer;
}

textarea {
  resize: none;
}

.white-space-no-wrap {
  white-space: nowrap;
}

.full-viewport-center-child {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-orange {
  color: #fd7e14;
}

.text-yellow {
  color: #ffc107;
}

.touch-action-none {
  touch-action: none;
}

i {
  line-height: 1;
}

.markdown-container {
  white-space: initial;
}
.markdown-container img {
  max-height: 200px;
  max-width: 100%;
}

a {
  text-decoration: none;
}
