@import "bootstrap/dist/css/bootstrap-reboot.css";
@import "bootstrap/dist/css/bootstrap-grid.css";
@import "bootstrap-icons/font/bootstrap-icons.css";

@import "./views/common/index.css";

body {
  background: var(--cru-background-color);
}

small {
  line-height: 1.2;
}

.flex-fix-length {
  flex-grow: 0;
  flex-shrink: 0;
}

.cursor-pointer {
  cursor: pointer;
}

textarea {
  resize: none;
}

.white-space-no-wrap {
  white-space: nowrap;
}

.full-viewport-center-child {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.touch-action-none {
  touch-action: none;
}

i {
  line-height: 1;
}

.markdown-container {
  white-space: initial;
}
.markdown-container img {
  max-height: 200px;
  max-width: 100%;
}

a {
  text-decoration: none;
}
