.cru-operation-dialog-title {
  font-size: 1.2em;
  font-weight: bold;
  color: var(--cru-key-color);
  margin-bottom: 0.5em;
}

.cru-operation-dialog-prompt {
  color: var(--cru-surface-on-color);
}

.cru-dialog-middle-area {
  margin: 0.5em 0;
}

.cru-dialog-bottom-area {
  margin-top: 0.5em;
}

.cru-operation-dialog-input-group {
  display: block;
  margin: 0.5em 0;
}
