.cru-dialog-full-page .cru-dialog-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 85%;
  border-top: 2px solid var(--cru-theme-color);
  padding-top: 0.5em;
  background-color: var(--cru-background-color);
}

.cru-dialog-full-page-content {
  overflow: scroll;
}

.cru-dialog-full-page-back {
  float: right;
  padding-right: 0.5em;
}

.cru-dialog-full-page-enter .cru-dialog-container {
  transform: translate(0, 100%);
}

.cru-dialog-full-page-enter-active .cru-dialog-container {
  transform: none;
  transition: transform 0.3s;
}

.cru-dialog-full-page-exit-active .cru-dialog-container {
  transition: transform 0.3s;
  transform: translate(0, 100%);
}
