.align-self-bottom {
  align-self: flex-end;
}

.item-box {
  display: flex;
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
}

.first-item-box {
  justify-content: space-between;
}

.item-id {
  display: inline-block;
  text-align: center;
  border-radius: 0.2rem;
  width: 1.2rem;
  height: 1.2rem;
}

.item-id-open {
  background: red;
}

.item-id-closed {
  background: green;
}

.item-title {
  margin-left: 5px;
  color: black;
  text-decoration: none;
}

.sample-box {
  box-sizing: border-box;
  align-self: flex-start;
}

.sample-container {
  display: flex;
  align-items: center;
}

.item-id-sample {
  border-radius: 0.2em;
  width: 1em;
  height: 1em;
  margin-right: 2px;
}
