<mat-progress-bar *ngIf="!items" mode="indeterminate"></mat-progress-bar>

<mat-list>
  <mat-list-item *ngFor="let item of items; let i = index" style="height:unset;">
    <div class="item-box" [class.first-item-box]="i === 0">
      <mat-card [class.align-self-bottom]="i === 0">
        <span class="item-id" [class.item-id-closed]="item.closed"
          [class.item-id-open]="!item.closed">{{item.id}}</span>
        {{item.title}}
      </mat-card>
      <div class="sample-box" *ngIf="i === 0">
          <div class="mat-caption">
            <span class="item-id-sample item-id-open"></span> means working now.
          </div>
          <div class="mat-caption">
            <span class="item-id-sample item-id-closed"></span> means completed.
          </div>
        </div>
    </div>
  </mat-list-item>
</mat-list>
