.align-self-bottom {
  align-self: flex-end;
}

.item-box {
  display: flex;
  width: 100%;
  box-sizing: border-box;
}

.first-item-box {
  justify-content: space-between;
  padding: 0 0 5px 5px;
}

.non-first-item-box {
  padding: 5px;
}

.space {
  flex: 1 4 20px;
}

.sample-box {
  box-sizing: border-box;
  align-self: flex-start;
}

.sample-item {
  display: flex;
  align-items: center;
}

.sample-color-block {
  border-radius: 0.2em;
  width: 1em;
  height: 1em;
  margin-right: 2px;
}
