p {
  font-size: 2rem;
  margin: 0;
}

.bold {
  font-weight: 600;
}

#loginBox {
  display: inline-grid;
  grid-template: "username-label username-input" auto
                 "password-label password-input" auto
                 "login-button login-button" auto
                 "message message" auto
                 / max-content max-content;
  align-items: center;
  padding: 10px;
  border: solid black 1px;
}

#usernameLabel {
  grid-area: username-label;
}

#usernameInput {
  grid-area: username-input;
  margin: 2px;
}

#passwordLabel {
  grid-area: password-label;
}

#passwordInput {
  grid-area: password-input;
  margin: 2px;
}

#loginButton {
  grid-area: login-button;
  justify-self: end;
}

#loginMessage {
  grid-area: message;
  justify-self: end;
  color: red;
}
