<h2>
  This page is under <span class="bold">construction</span>!
</h2>

<h2>
  To-do list:
</h2>

<ol>
  <li>Learn DI and Service module in Angular.</li>
  <li>Develop basic authentication module.</li>
  <li>Learn Bootstrap.</li>
</ol>

<div id="loginBox">
    <label id="usernameLabel">username</label>
    <input id="usernameInput" type="text" [(ngModel)]="loginInfo.username">
    <label id="passwordLabel">password</label>
    <input id="passwordInput" type="password" [(ngModel)]="loginInfo.password">
    <input id="loginButton" type="button" value="Login" (click)="tryLogin()">
    <div id="loginMessage">{{message}}</div>
</div>
