.app-bar {
  display: flex;
  align-items: center;
  height: 56px;
  position: fixed;
  z-index: 1030;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--cru-primary-color);
  transition: background-color 1s;
}

.app-bar .cru-avatar {
  background-color: white;
}

.app-bar a {
  color: var(--cru-text-on-primary-r1-color);
  text-decoration: none;
  margin: 0 1em;
  transition: color 1s;
}
.app-bar a:hover {
  color: var(--cru-text-on-primary-color);
}
.app-bar a.active {
  color: var(--cru-text-on-primary-color);
}

.app-bar-brand {
  display: flex;
  align-items: center;
}

.app-bar-brand-icon {
  height: 2em;
}

.app-bar-main-area {
  display: flex;
  flex-grow: 1;
}

.app-bar-link-area {
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.app-bar-user-area {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  margin-left: auto;
}

.small-screen .app-bar-main-area {
  position: absolute;
  top: 56px;
  left: 0;
  right: 0;
  transform-origin: top;
  transition: transform 0.6s, background-color 1s;
  background-color: var(--cru-primary-color);
  flex-direction: column;
}
.small-screen .app-bar-main-area.app-bar-collapse {
  transform: scale(1, 0);
}
.small-screen .app-bar-main-area a {
  text-align: left;
  padding: 0.5em 0.5em;
}
.small-screen .app-bar-link-area {
  flex-direction: column;
  align-items: stretch;
}
.small-screen .app-bar-user-area {
  flex-direction: column;
  align-items: stretch;
  margin-left: unset;
}
.small-screen .app-bar-avatar {
  align-self: flex-end;
}

.app-bar-toggler {
  margin-left: auto;
  font-size: 2em;
  margin-right: 1em;
  color: var(--cru-text-on-primary-color);
  cursor: pointer;
  user-select: none;
}
