.cru-card {
  border-radius: var(--cru-card-border-radius);
  border: 2px solid var(--cru-card-border-color);
  background-color: var(--cru-card-background-color);
  transition: all 0.3s;
}

.cru-card-no-background {
  background-color: var(--cru-background-color);
}
