.cru-card {
  border: 1px solid;
  border-color: #e9ecef;
  border-radius: 8px;
  background: #f8f9fa;
  transition: all 0.3s;
}

.cru-card:hover {
  border-color: var(--tl-primary-color);
}
