.cru-avatar {
  width: 60px;
  height: 60px;
}

.cru-avatar.large {
  width: 100px;
  height: 100px;
}

.cru-avatar.small {
  width: 40px;
  height: 40px;
}

.cru-round {
  border-radius: 50%;
}

.cru-skeleton {
  padding: 0 1em;
}

.cru-skeleton-line {
  height: 1em;
  background-color: #e6e6e6;
  margin: 0.7em 0;
  border-radius: 0.2em;
}
.cru-skeleton-line.last {
  width: 50%;
}

.cru-full-page {
  position: fixed;
  z-index: 1031;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  padding-top: 56px;
}

.cru-full-page-top-bar {
  height: 56px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background-color: var(--tl-primary-color);
  display: flex;
  align-items: center;
}

.cru-full-page-content-container {
  overflow: scroll;
}

.cru-menu {
  min-width: 200px;
}

.cru-menu-item {
  font-size: 1.2em;
  padding: 0.5em 1.5em;
  cursor: pointer;
}
.cru-menu-item.color-primary {
  color: #0d6efd;
}
.cru-menu-item.color-primary:hover {
  color: white;
  background-color: #0d6efd;
}
.cru-menu-item.color-secondary {
  color: #6c757d;
}
.cru-menu-item.color-secondary:hover {
  color: white;
  background-color: #6c757d;
}
.cru-menu-item.color-success {
  color: #198754;
}
.cru-menu-item.color-success:hover {
  color: white;
  background-color: #198754;
}
.cru-menu-item.color-info {
  color: #0dcaf0;
}
.cru-menu-item.color-info:hover {
  color: white;
  background-color: #0dcaf0;
}
.cru-menu-item.color-warning {
  color: #ffc107;
}
.cru-menu-item.color-warning:hover {
  color: white;
  background-color: #ffc107;
}
.cru-menu-item.color-danger {
  color: #dc3545;
}
.cru-menu-item.color-danger:hover {
  color: white;
  background-color: #dc3545;
}
.cru-menu-item.color-light {
  color: #f8f9fa;
}
.cru-menu-item.color-light:hover {
  color: white;
  background-color: #f8f9fa;
}
.cru-menu-item.color-dark {
  color: #212529;
}
.cru-menu-item.color-dark:hover {
  color: white;
  background-color: #212529;
}

.cru-menu-item-icon {
  margin-right: 1em;
}

.cru-menu-divider {
  border-top: 1px solid #e9ecef;
}

.cru-tab-pages-action-area {
  display: flex;
  align-items: center;
}

.alert-container {
  position: fixed;
  z-index: 1070;
}

@media (min-width: 576px) {
  .alert-container {
    bottom: 0;
    right: 0;
  }
}
@media (max-width: 575.98px) {
  .alert-container {
    bottom: 0;
    right: 0;
    left: 0;
    text-align: center;
  }
}
