:root {
  --cru-background-color: #f8f9fa;
  --cru-background-1-color: #e9ecef;
  --cru-background-2-color: #dee2e6;

  --cru-disable-color: #ced4da;

  --cru-primary-color: rgb(0, 123, 255);
  --cru-primary-l1-color: rgb(26, 136, 255);
  --cru-primary-l2-color: rgb(51, 149, 255);
  --cru-primary-l3-color: rgb(77, 163, 255);
  --cru-primary-d1-color: rgb(0, 111, 230);
  --cru-primary-d2-color: rgb(0, 98, 204);
  --cru-primary-d3-color: rgb(0, 86, 179);
  --cru-primary-f1-color: rgb(0, 111, 230);
  --cru-primary-f2-color: rgb(0, 98, 204);
  --cru-primary-f3-color: rgb(0, 86, 179);
  --cru-primary-r1-color: rgb(26, 136, 255);
  --cru-primary-r2-color: rgb(51, 149, 255);
  --cru-primary-r3-color: rgb(77, 163, 255);
  --cru-primary-t-color: rgb(255, 255, 255);
  --cru-primary-t1-color: rgb(230, 230, 230);
  --cru-primary-t2-color: rgb(204, 204, 204);
  --cru-primary-t3-color: rgb(179, 179, 179);
  --cru-primary-enhance-color: rgb(77, 163, 255);
  --cru-primary-enhance-l1-color: rgb(94, 172, 255);
  --cru-primary-enhance-l2-color: rgb(112, 181, 255);
  --cru-primary-enhance-l3-color: rgb(130, 190, 255);
  --cru-primary-enhance-d1-color: rgb(43, 145, 255);
  --cru-primary-enhance-d2-color: rgb(10, 128, 255);
  --cru-primary-enhance-d3-color: rgb(0, 112, 232);
  --cru-primary-enhance-f1-color: rgb(94, 172, 255);
  --cru-primary-enhance-f2-color: rgb(112, 181, 255);
  --cru-primary-enhance-f3-color: rgb(130, 190, 255);
  --cru-primary-enhance-r1-color: rgb(43, 145, 255);
  --cru-primary-enhance-r2-color: rgb(10, 128, 255);
  --cru-primary-enhance-r3-color: rgb(0, 112, 232);
  --cru-primary-enhance-t-color: rgb(0, 0, 0);
  --cru-primary-enhance-t1-color: rgb(26, 26, 26);
  --cru-primary-enhance-t2-color: rgb(51, 51, 51);
  --cru-primary-enhance-t3-color: rgb(77, 77, 77);
  --cru-secondary-color: rgb(128, 128, 128);
  --cru-secondary-l1-color: rgb(141, 141, 141);
  --cru-secondary-l2-color: rgb(153, 153, 153);
  --cru-secondary-l3-color: rgb(166, 166, 166);
  --cru-secondary-d1-color: rgb(115, 115, 115);
  --cru-secondary-d2-color: rgb(102, 102, 102);
  --cru-secondary-d3-color: rgb(90, 90, 90);
  --cru-secondary-f1-color: rgb(115, 115, 115);
  --cru-secondary-f2-color: rgb(102, 102, 102);
  --cru-secondary-f3-color: rgb(90, 90, 90);
  --cru-secondary-r1-color: rgb(141, 141, 141);
  --cru-secondary-r2-color: rgb(153, 153, 153);
  --cru-secondary-r3-color: rgb(166, 166, 166);
  --cru-secondary-t-color: rgb(255, 255, 255);
  --cru-secondary-t1-color: rgb(230, 230, 230);
  --cru-secondary-t2-color: rgb(204, 204, 204);
  --cru-secondary-t3-color: rgb(179, 179, 179);
  --cru-danger-color: rgb(255, 0, 0);
  --cru-danger-l1-color: rgb(255, 26, 26);
  --cru-danger-l2-color: rgb(255, 51, 51);
  --cru-danger-l3-color: rgb(255, 77, 77);
  --cru-danger-d1-color: rgb(230, 0, 0);
  --cru-danger-d2-color: rgb(204, 0, 0);
  --cru-danger-d3-color: rgb(179, 0, 0);
  --cru-danger-f1-color: rgb(230, 0, 0);
  --cru-danger-f2-color: rgb(204, 0, 0);
  --cru-danger-f3-color: rgb(179, 0, 0);
  --cru-danger-r1-color: rgb(255, 26, 26);
  --cru-danger-r2-color: rgb(255, 51, 51);
  --cru-danger-r3-color: rgb(255, 77, 77);
  --cru-danger-t-color: rgb(255, 255, 255);
  --cru-danger-t1-color: rgb(230, 230, 230);
  --cru-danger-t2-color: rgb(204, 204, 204);
  --cru-danger-t3-color: rgb(179, 179, 179);
  --cru-success-color: rgb(0, 128, 0);
  --cru-success-l1-color: rgb(0, 166, 0);
  --cru-success-l2-color: rgb(0, 204, 0);
  --cru-success-l3-color: rgb(0, 243, 0);
  --cru-success-d1-color: rgb(0, 115, 0);
  --cru-success-d2-color: rgb(0, 102, 0);
  --cru-success-d3-color: rgb(0, 90, 0);
  --cru-success-f1-color: rgb(0, 115, 0);
  --cru-success-f2-color: rgb(0, 102, 0);
  --cru-success-f3-color: rgb(0, 90, 0);
  --cru-success-r1-color: rgb(0, 166, 0);
  --cru-success-r2-color: rgb(0, 204, 0);
  --cru-success-r3-color: rgb(0, 243, 0);
  --cru-success-t-color: rgb(255, 255, 255);
  --cru-success-t1-color: rgb(230, 230, 230);
  --cru-success-t2-color: rgb(204, 204, 204);
  --cru-success-t3-color: rgb(179, 179, 179);
}

.cru-color-primary {
  color: var(--cru-primary-color);
}

.cru-color-secondary {
  color: var(--cru-secondary-color);
}

.cru-color-success {
  color: var(--cru-success-color);
}

.cru-color-danger {
  color: var(--cru-danger-color);
}

.cru-text-center {
  text-align: center;
}

.cru-text-end {
  text-align: end;
}

.cru-float-right {
  float: right;
}

.cru-align-text-bottom {
  vertical-align: text-bottom;
}

.cru-align-middle {
  vertical-align: middle;
}

.cru-clearfix::after {
  clear: both;
}

.cru-fill-parent {
  width: 100%;
  height: 100%;
}

.icon-button {
  font-size: 1.4rem;
  cursor: pointer;
}

.icon-button.large {
  font-size: 1.6rem;
}

.icon-button.primary-enhance {
  color: var(--cru-primary-enhance-color);
}

.cru-avatar {
  width: 60px;
  height: 60px;
}

.cru-avatar.large {
  width: 100px;
  height: 100px;
}

.cru-avatar.small {
  width: 40px;
  height: 40px;
}

.cru-round {
  border-radius: 50%;
}

.cru-tab-pages-action-area {
  display: flex;
  align-items: center;
}

.alert-container {
  position: fixed;
  z-index: 1070;
}

@media (min-width: 576px) {
  .alert-container {
    bottom: 0;
    right: 0;
  }
}
@media (max-width: 575.98px) {
  .alert-container {
    bottom: 0;
    right: 0;
    left: 0;
    text-align: center;
  }
}
