.cru-button {
  font-size: 1rem;
  padding: 0.4em 0.8em;
  transition: all 0.5s;
  border-radius: 0.2em;
  border: 1px solid;
  cursor: pointer;
  background-color: var(--cru-surface-color);
}

.cru-button:not(.outline) {
  color: var(--cru-key-on-color);
  background-color: var(--cru-key-color);
  border-color: var(--cru-key-color);
}

.cru-button:not(.outline):hover {
  background-color: var(--cru-key-1-color);
  border-color: var(--cru-key-1-color);
}

.cru-button:not(.outline):focus {
  background-color: var(--cru-key-1-color);
  border-color: var(--cru-key-1-color);
}

.cru-button:not(.outline):active {
  background-color: var(--cru-key-2-color);
  border-color: var(--cru-key-2-color);
}

.cru-button:not(.outline):disabled {
  background-color: var(--cru-surface-on-color);
  border-color: var(--cru-surface-on-color);
  cursor: auto;
}


.cru-button.outline {
  color: var(--cru-key-color);
  border-color: var(--cru-key-color);
}

.cru-button.outline:hover {
  color: var(--cru-key-1-color);
  border-color: var(--cru-key-1-color);
}

.cru-button.outline:focus {
  color: var(--cru-key-1-color);
  border-color: var(--cru-key-1-color);
}

.cru-button.outline:active {
  color: var(--cru-key-2-color);
  border-color: var(--cru-key-2-color);
}

.cru-button.outline:disabled {
  color: var(--cru-surface-on-color);
  border-color: var(--cru-surface-on-color);
  background-color: white;
  cursor: auto;
}