.cru-flat-button {
  cursor: pointer;
  padding: 0.2em 0.5em;
  border-radius: 0.2em;
  border: none;
  background-color: transparent;
  transition: all 0.6s;
}

.cru-flat-button:hover:not(.disabled) {
  background-color: #e9ecef;
}

.cru-flat-button.disabled {
  cursor: default;
}

.cru-flat-button.primary {
  color: var(--tl-primary-color);
}

.cru-flat-button.primary.disabled {
  color: var(--tl-primary-lighter-color);
}

.cru-flat-button.secondary {
  color: var(--tl-secondary-color);
}

.cru-flat-button.secondary.disabled {
  color: var(--tl-secondary-lighter-color);
}

.cru-flat-button.success {
  color: var(--tl-success-color);
}

.cru-flat-button.success.disabled {
  color: var(--tl-success-lighter-color);
}

.cru-flat-button.danger {
  color: var(--tl-danger-color);
}

.cru-flat-button.danger.disabled {
  color: var(--tl-danger-ligher-color);
}
