.cru-loading-button {
  display: flex;
  align-items: center;
}

.cru-loading-button:disabled {
  color: var(--cru-key-2-color);
  border-color: var(--cru-key-2-color);
  cursor: auto;
}

.cru-loading-button-spinner {
  margin-left: 0.5em;
}
