.cru-text-button {
  background: transparent;
  border: none;
}

.cru-text-button.primary {
  color: var(--cru-primary-color);
}

.cru-text-button.primary:hover {
  color: var(--cru-primary-l1-color);
}

.cru-text-button.secondary {
  color: var(--cru-secondary-color);
}

.cru-text-button.secondary:hover {
  color: var(--cru-secondary-l1-color);
}

.cru-text-button.success {
  color: var(--cru-success-color);
}

.cru-text-button.success:hover {
  color: var(--cru-success-l1-color);
}

.cru-text-button.danger {
  color: var(--cru-danger-color);
}

.cru-text-button.danger:hover {
  color: var(--cru-danger-l1-color);
}
