.cru-text-button {
  background: transparent;
  border: none;
}

.cru-text-button.primary {
  color: var(--tl-primary-color);
}

.cru-text-button.primary:hover {
  color: var(--tl-primary-lighter-color);
}

.cru-text-button.secondary {
  color: var(--tl-secondary-color);
}

.cru-text-button.secondary:hover {
  color: var(--tl-secondary-lighter-color);
}

.cru-text-button.success {
  color: var(--tl-success-color);
}

.cru-text-button.success:hover {
  color: var(--tl-success-lighter-color);
}

.cru-text-button.danger {
  color: var(--tl-danger-color);
}

.cru-text-button.danger:hover {
  color: var(--tl-danger-lighter-color);
}
